@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 46 30% 98%;
    --foreground: 46 79% 5%;
    --muted: 16 30% 89%;
    --muted-foreground: 16 15% 33%;
    --popover: 46 30% 98%;
    --popover-foreground: 46 79% 5%;
    --card: 46 30% 97%;
    --card-foreground: 46 79% 4%;
    --border: 46 6% 88%;
    --input: 46 6% 88%;
    --primary: 46 100% 51%;
    --primary-foreground: 46 100% 11%;
    --secondary: 16 100% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 76 100% 51%;
    --accent-foreground: 76 100% 11%;
    --destructive: 12 87% 32%;
    --destructive-foreground: 12 87% 92%;
    --ring: 46 100% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 46 52% 4%;
    --foreground: 46 34% 98%;
    --muted: 16 30% 11%;
    --muted-foreground: 16 15% 67%;
    --popover: 46 52% 4%;
    --popover-foreground: 46 34% 98%;
    --card: 46 52% 5%;
    --card-foreground: 46 34% 99%;
    --border: 46 6% 11%;
    --input: 46 6% 11%;
    --primary: 46 100% 51%;
    --primary-foreground: 46 100% 11%;
    --secondary: 16 100% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 76 100% 51%;
    --accent-foreground: 76 100% 11%;
    --destructive: 12 87% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 46 100% 51%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
